.first-look {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music-cover {
  box-shadow: -7px -5px 12px 14px #4c545a;
  border-radius: 50%;
  width: fit-content;
  margin: 2em 0;
}

.music-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 8px solid #1f2327;
  background-image: url("./../image/music2.jpg");
  background-size: cover;
  background-position: right;
  box-shadow: 12px 11px 15px 0px #1a1a1d;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #00000075;
  position: absolute;
}

.chose-track {
  margin: 3em 0 0 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .style-input {
    width: 250px;
    padding: 10px 0;
    line-height: 50px;
    font-size: 30px;
    color: #a9a8a8;
    border: 6px solid #2a2d31;
    border-radius: 16px;
    box-shadow: -5px -5px 10px 7px #3c4348;
  }

  input {
    position: absolute;
    height: 73px;
    width: 250px;
    font-size: 30px;
    box-shadow: 7px 5px 14px 4px #18181a;
    opacity: 0;
    z-index: 2;
  }

  .shadow {
    width: 255px;
    height: 76px;
    position: absolute;
    top: 0;
    box-shadow: 7px 5px 14px 0 #18181a;
    border-radius: 16px;
  }
}

.playlist-text {
  margin: 1.5em 0;
  font-size: 25px;
  color: #a9a8a8;
  line-height: 30px;
}

.welcome-text {
  margin: 18px;
  font-size: 25px;
  color: #a9a8a8;
  line-height: 30px;
}
