.player-controls {
  width: 100%;
  margin-top: 2.7em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;

  .previous {
    margin-left: 30px;
  }

  .next {
    margin-right: 30px;
  }

  button {
    color: #a9a8a8;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    outline: none;
    border: none;
    background: #2d3034;
    font-size: 35px;
    box-shadow: 3px 4px 13px 5px #252527;

    &:hover {
      cursor: pointer;
    }
  }
  .previous-song {
    p {
      margin-right: 3px;
      margin-top: 4px;
    }
  }

  .next-song {
    p {
      margin-left: 3px;
      margin-top: 4px;
    }
  }

  .play-pause {
    svg {
      font-size: 23px;
    }

    p {
      margin-left: 2px;
      margin-top: -5px;
    }
  }
}

.button-cover {
  position: relative;
  width: fit-content;
  border: 3px solid #2a2d31;
  box-shadow: -6px -5px 12px 7px #32383c;
  border-radius: 50%;
}

.proxy-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;

  &:hover {
    cursor: pointer;
  }
}

.play {
  border: 3px solid #cc3533;

  .play-pause {
    background-color: #ea453b;
  }
}

@media only screen and (max-device-width: 320px) {
  .player-controls {
    button {
      width: 60px;
      height: 60px;
      font-size: 30px;
    }

    .play-pause {
      svg {
        font-size: 18px;
      }

      p {
        margin-left: 3px;
        margin-top: -4px;
      }
    }
  }
}
