@import "./Slider.scss";

@import "./HelpingButtons.scss";

@import "./PlayerControl.scss";

body {
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

.player-wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#353b3f, #1f2125);
}

.song-pic {
  margin: 3em 0;
  box-shadow: -6px -7px 12px 14px #394045;
  border-radius: 50%;
  .circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 8px solid #1f2327;
    background-image: url("./../image/matheo-jbt-Y8QmGCl8lLk-unsplash.jpg");
    background-size: cover;
    box-shadow: 12px 11px 15px 0px #1a1a1d;
  }
  margin-bottom: 30px;
}

.song-name {
  margin-top: 2em;
  font-size: 28px;
  font-weight: 700;
  color: #c9c4c4;
  p {
    margin: 5px 0;
  }

  .description {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #a9a8a8;
  }
}

.song-progress {
  margin-top: 0.5em;
  width: 100%;
  display: flex;
  flex-direction: column;

  .dis-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    color: #a9a8a8;
    margin-bottom: 18px;
  }

  .increasing-time {
    margin-left: 20px;
  }

  .decreasing-time {
    margin-right: 20px;
  }
}
