input[type="range"] {
  width: 90%;
  appearance: none;
  background: none;
  border-top: 2px solid #161515;
  background-color: yellow;
  height: 8px;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 0px #474545;

  &:hover {
    cursor: pointer;
  }
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 32px;
  height: 32px;
  border: 9px solid #1f2327;
  border-radius: 50%;
  background-color: yellow;
  margin-left: -1px;
  box-shadow: 4px 2px 14px 2px #111010;
}
